/.jiri

# Gradle dirs
build/
/buildSrc/schema
.gradle/
local.properties

# IntelliJ
.idea/
**/*.iml

# Eclipse
.settings/
.metadata/
.recommenders/

# vdl files
/src

# Generated source
generated-src/
android-lib/src/main/jniLibs/
