/.jiri
#TODO(nlacasse): Get rid of .v23 below once v23->jiri transition is complete.
# Gradle dirs
build/
.gradle/
local.properties

# IntelliJ
.idea/
**/*.iml

# Eclipse
.settings/

# vdl files
/src

# Vanadium
/.v23

#Generated source
generated-src/
