<?xml version="1.0" encoding="utf-8"?>
<manifest package="io.v.moments"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Needed to store blessings and photos. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Needed for bluetooth-based discovery -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <!-- Bluetooth discovery exposes location. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!--
     Needed for internet-based discovery and to make/service remote procedure
     calls to obtain photos from willing instances of this app on other devices.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="android.support.multidex.MultiDexApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="io.v.moments.ux.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="io.v.moments.ux.ShowPhotoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_show_photo"
            android:parentActivityName="io.v.moments.ux.MainActivity"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.v.moments.ux.MainActivity"/>
        </activity>
    </application>

</manifest>
