<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.v.android.apps.account_manager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="20" />

    <!-- Needed for Security -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Needed for RPC -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Needed for Account Management -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <!-- Needed for NFC and Android Beam Message Sending -->
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launchericon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <service
            android:name=".AuthenticatorService"
            android:exported="true"
            android:label="@string/authenticator_service_name" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name=".AccountActivity"
            android:label="@string/title_activity_account" >
        </activity>

        <!--
             android:windowSoftInputMode="adjustPan" below is necessary to prevent
             the keyboard input from moving layout views around.
        -->
        <activity
            android:name=".LocalBlessingActivity"
            android:label="@string/title_activity_local_blessing"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="io.v.android.apps.account_manager.BLESS" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
            <intent-filter>
                <action android:name="io.v.android.apps.account_manager.SETTINGS" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BlessedPrincipalsDisplayActivity"
            android:label="@string/title_activity_blessed_principals_display" >
            <intent-filter>
                <action android:name="io.v.android.apps.account_manager.BLESSED_PRINCIPALS_DISPLAY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BlessingEventsDisplayActivity"
            android:label="@string/title_activity_blessing_events_display" >
            <intent-filter>
                <action android:name="io.v.android.apps.account_manager.BLESSING_EVENTS_DISPLAY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BlessingStoreDisplayActivity"
            android:label="@string/title_activity_blessing_store_display" >
            <intent-filter>
                <action android:name="io.v.android.apps.account_manager.BLESSING_STORE_DISPLAY" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BlessingDisplayActivity"
            android:label="@string/title_activity_blessing_display" >
            <intent-filter>
                <action android:name="io.v.android.apps.account_manager.DISPLAY_BLESSING" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CertificateDisplayActivity"
            android:label="@string/title_activity_certificate_display" >
            <intent-filter>
                <action android:name="io.v.android.apps.account_manager.DISPLAY_CERTIFICATE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BlesseeRequestActivity"
            android:label="@string/title_activity_blessee_request" >
            <intent-filter>
                <action android:name="io.v.android.apps.account_manager.REQUEST_BLESSINGS" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NfcBlesseeSendActivity"
            android:label="@string/title_activity_nfc_blessee_send" >
            <intent-filter>
                <action android:name="android.nfc.action.NFC_BLESSEE_SEND" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NfcBlesserRecvActivity"
            android:label="@string/title_activity_blesser_recv" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vanadium/mime/request/blessing/string"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".BlessActivity"
            android:label="@string/title_activity_bless" >
            <intent-filter>
                <action android:name="io.v.android.apps.account_manager.BLESS" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NfcBlesserSendActivity"
            android:label="@string/title_activity_nfc_blesser_send" >
            <intent-filter>
                <action android:name="android.nfc.action.NFC_BLESSER_SEND" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NfcBlesseeRecvActivity"
            android:label="@string/title_activity_blessee_recv" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vanadium/mime/grant/blessing/string"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".StoreBlessingsActivity"
            android:label="@string/title_activity_store_blessings" >
            <intent-filter>
                <action android:name="io.v.android.apps.account_manager.STORE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AccountChooserActivity"
            android:label="@string/title_activity_account_chooser"
            android:theme="@android:style/Theme.Holo.Dialog">
        </activity>
        <activity
            android:name=".BlessingChooserActivity"
            android:label="@string/title_activity_blessing_chooser"
            android:theme="@android:style/Theme.Holo.Dialog">
        </activity>

    </application>

</manifest>
