<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.v.baku.toolkit">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <service
            android:name="io.v.debug.SyncbaseAndroidService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>
